<% include header.html %>
<% include nav.html %>

<div class="technology">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="tech-no">

                <div class="tc-ch wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">

                    <div class="tch-img">
                    </div>
                    <h3><a href="singlepage.html"><%=categoryName%></a></h3>
                    <p></p>
                    <div class="clearfix"></div>
                </div>
                <!-- technology-top -->
                <% for( i = 0; i < article.length;i++) { %>

                    <div class="wthree" style="padding: 1em 1em;margin-bottom: 0.5em;">
                        <div class="col-md-6 wthree-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s" style="width:70%">
                            <h3><a href="/article/detail?id=<%=article[i]._id %>"><%=article[i].title%></a></h3>
                            <h6> <a href="/article/detail?id=<%=article[i]._id %>"><%=article[i].author%></a><span style="padding-left: 1em"><%=article[i].createTimeString%></span></h6>
                            <!--<p><%=article[i].summary%> .</p>-->
                            <div class="soci">
                                <!--<ul>-->
                                    <!--<li class="hvr-rectangle-out"><a class="twit" href="#">阅读(10)</a></li>-->
                                    <!--<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>-->
                                <!--</ul>-->
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                <% } %>
            </div>
        </div>
        <!-- technology-right -->
        <% include right.html %>
        <div class="clearfix"></div>
        <!-- technology-right -->
    </div>
</div>
<% include footer.html %>
