<div class="footer">
    <div class="container">
        <div class="col-md-4 footer-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>关于我</h4>
            <p>酒剑仙</p>
            <img src="images/myphoto.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-4 footer-middle wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>联系方式</h4>
            <div class="mid-btm">
                <p></p>
                <a>邮箱:jiangrushe2010@126.com</a>
            </div>

            <p></p>
            <a>QQ:840398688</a>

        </div>
        <div class="col-md-4 footer-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>留下您的联系方式</h4>
            <div class="name">
                <form action="#" method="post">
                    <input type="text" placeholder="你的名字" required="">
                    <input type="text" placeholder="你的邮箱" required="">
                    <input type="submit" value="提交">
                </form>

            </div>

            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>
<!-- jQuery 2.2.0 -->
<script src="/plugins/jquery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/common/common.js" ></script>