<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.useso.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href="./css/style.css" rel='stylesheet' type='text/css' />
    <link href="./css/animate.min.css" rel="stylesheet">
    <link href="./css/login.css" rel="stylesheet">
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</head>
<body>