<% include header.html %>
<% include nav.html %>

<div class="technology">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="tech-no">
                <!-- technology-top -->

                <div class="tc-ch wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">

                    <div class="tch-img">
                        <a href="singlepage.html"><img src="images/t4.jpg" class="img-responsive" alt=""></a>
                    </div>

                    <h3><a href="singlepage.html">泰国总理巴育透露英拉行踪：目前身处迪拜</a></h3>
                    <p>中新网9月28日电 据外媒报道，泰国总理巴育28日披露，因“大米渎职案”获刑五年的前总理英拉目前正身处迪拜。

                        报道称，巴育表示，通过情报人员，他已经掌握英拉的行踪。巴育还表示，他将进一步公布相关细节。

                        当地时间27日，泰国最高法院政务人员刑事案件法庭再次就英拉“大米渎职案”开庭，英拉被判五年有期徒刑，不予保释。</p>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- technology-top -->
                <% for( i = 0; i < article.length;i++) { %>
                    <div class="wthree" style="padding: 1em 1em;margin-bottom: 0.5em;">
                        <div class="col-md-6 wthree-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s" style="width:30%">
                            <div class="tch-img">
                                <% if(article[i].listPic){ %>
                                    <a href="singlepage.html"><img src="<%=article[i].listPic%>" class="img-responsive" alt="" style="display: block;max-width: 100%;height: 11em;width: 23em;"></a>
                                <% }else{%>
                                    <a href="singlepage.html"><img src="images/defaultListPic.jpeg" class="img-responsive" alt="" style="display: block;max-width: 100%;height: 11em;width: 23em;"></a>
                                <% }%>
                            </div>
                        </div>
                        <div class="col-md-6 wthree-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s" style="width:70%">
                            <h3><a href="singlepage.html"><%=article[i].title%></a></h3>
                            <h6> <a href="singlepage.html"><%=article[i].author%></a><span style="padding-left: 1em"><%=article[i].createTimeString%></span></h6>
                            <p><%=article[i].summary%> .</p>
                            <div class="soci">
                                <!--<ul>-->
                                    <!--<li class="hvr-rectangle-out"><a class="twit" href="#">阅读(10)</a></li>-->
                                    <!--<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>-->
                                <!--</ul>-->
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                <% } %>
            </div>
        </div>
        <!-- technology-right -->
        <div class="col-md-3 technology-right">


            <div class="blo-top1">

                <div class="tech-btm">
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>分享 </h4>
                        <div class="blog-grid-right">
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style_32x32">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_weixin"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>我的标签</h4>
                        <div class="blog-grid-right">
                            <h5><a href="singlepage.html">java(12)</a></h5>
                            <h5><a href="singlepage.html">nodejs(2)</a></h5>
                            <h5><a href="singlepage.html">网络文章(5)</a></h5>
                            <h5><a href="singlepage.html">mongo(6)</a></h5>
                            <h5><a href="singlepage.html">redis(7)</a></h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h4>Instagram</h4>
                        <ul>

                            <li><a href="singlepage.html"><img src="images/t1.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/m1.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/f1.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/m2.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/f2.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/t2.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/f3.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/t3.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><a href="singlepage.html"><img src="images/m3.jpg" class="img-responsive" alt=""></a>
                            </li>
                        </ul>
                    </div>

                    <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at
                        pro</p>
                </div>


            </div>


        </div>
        <div class="clearfix"></div>
        <!-- technology-right -->
    </div>
</div>
<% include footer.html %>
