<div class="col-md-3 technology-right">


    <div class="blo-top1">

        <div class="tech-btm">

            <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                <h4>我的标签</h4>
                <div class="blog-grid-right">
                    <% for( i = 0; i < categoryList.length;i++) { %>
                        <h5><a href="/article/category/<%=categoryList[i].categoryName %>"><%=categoryList[i].categoryName %>(<%=categoryList[i].count %>)</a></h5>
                    <% } %>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="blog-grids wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                <h4>分享 </h4>
                <div class="blog-grid-right">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style_32x32">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="insta wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
                <h4>推荐文章</h4>
                <ul>

                    <li><a href="singlepage.html"><img src="images/t1.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/m1.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/f1.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/m2.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/f2.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/t2.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/f3.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/t3.jpg" class="img-responsive" alt=""></a>
                    </li>
                    <li><a href="singlepage.html"><img src="images/m3.jpg" class="img-responsive" alt=""></a>
                    </li>
                </ul>
            </div>

            <p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at
                pro</p>
        </div>


    </div>


</div>